<head>
  <title></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    h1
     {
      font-family: "Times New Roman", Times, serif;
    }
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: "Oswald"
    }


    body {
      font-family: "Open Sans"
    }
  </style>
</head>
<body class="w3-light-grey">
  <div class="w3-stretch" style="max-width:2000px">

<div class="w3-stretch" style="max-width:2000px">
  <img src="../static/1.jpg" alt="Boss" style="width:100%" class="w3-border">
  <header class="w3-container w3-center w3-padding-16 w3-light-green"></header>
  </div>
  <div class="container">
  <div class="w3-container w3-padding-16 w3-center" id="team">
     <!-- Info -->
    <h2><strong>Explore Our Products and gadgets.</strong></h2>
</head>

<p><strong>Wanderer makes it easy to plan outdoor activities, 
  no matter what the season, and ensures that essential products can be obtained in our store. We have wide range of products available with top in class technology and durability.Customer Satisfaction is our motto.</strong> </p>
<br>
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.accordion {
  background-color: #CCCCFF;
  color: #444;
  cursor: pointer;
  padding: 24px;
  width: 80%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
  font-weight: bold;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
</style>
</head>
<body>
  
<button class="accordion" style="font-weight:bold;" style="text-align: center;"><strong>Survival Gears</strong></button>
<div class="panel">
</body>
</html>
<div class="w3-quarter">
<img src="../static/sgk.jpg" alt="Boss" style="width:70%" class="w3-border w3-padding">
<h3></h3>
<strong>Survial Gear Kit</strong></a>
<p>Packed with essential tools our survival kit is great for wild adventures.</p> 
<h5 style="text-align: center"><strong>$29.99</strong></h5>
</div>
<div class="w3-quarter">
<img src="../static/bag.jpg" alt="Boss" style="width:70%" class="w3-border w3-padding">
<h3></h3>
<strong>Backpack</strong>
<p>Packed with all the essentials we have this customn designed backpack for all hiking essentials.</p> 
<h5 style="text-align: center"><strong>$99.99</strong></h5>
</div>
<div class="w3-quarter">
  <img src="../static/med.jpg" alt="Boss" style="width:70%" class="w3-border w3-padding">
  <h3></h3>
  <strong>Medical Kit</strong></a>
  <p>Medical package with essential medicines, bandages and first aid kits.</p> 
  <h5 style="text-align: center"><strong>$55</strong></h5>
</div>
  <div class="w3-quarter">
    <img src="../static/equip.jpg" alt="Boss" style="width:70%" class="w3-border w3-padding">
    <h3></h3>
    <strong>Tool Bag</strong></a>
    <p>Packed with essential tools which would come handy in all your adventures and trips.</p>
    <h5 style="text-align: center"><strong>$110</strong></h5>
    </div>
</div>

<button class="accordion">Tents</button>
<div class="panel">
</body>
</html>
<div class="w3-quarter">
<img src="../static/tent1.jpg" alt="Boss" style="width:70%" class="w3-border w3-padding">
<h3></h3>
<strong>Single Tent</strong></a>
<p>The most comfortable tent in the market. Our custom designed tent brings the cofort of home in night stays.</p> 
<h5 style="text-align: center"><strong>$49.99</strong></h5>
</div>
</br>
</br>
<div class="w3-quarter">
<img src="../static/familytent.jpg" alt="Boss" style="width:75%" class="w3-border w3-padding">
<h3></h3>

<strong>Family Tent</strong></a>
<p>Hiking with Family ? This tent is best for the group of 5 to have comfortable sleeping experience in the wilderness. This tent is suitable for large families and groups.</p> 
<h5 style="text-align: center"><strong>$499</strong></h5>
</div>
<div class="w3-quarter">
  <img src="../static/bathtent.jpg" alt="Boss" style="width:70%" class="w3-border w3-padding">
  <h3></h3>
  <strong>Shower Tent</strong></a>
  <p>Felt Sweaty? This showering tent would make you fresh and ready with your personal space in the wild. Easy to assemble and light to carry.</p> 
  <h5 style="text-align: center"><strong>$59.99</strong></h5>
  </div>
  <div class="w3-quarter">
    <img src="../static/pootent.jpg" alt="Boss" style="width:70%" class="w3-border w3-padding">
    <h3></h3>
    <strong>Restroom</strong></a>
    <p>Nature call in the nature is now possible with privacy with our new restroom tent.</p> 
    <h5 style="text-align: center"><strong>$105</strong></h5>
    </div>
</div>

<button class="accordion">Products under $25</button>
<div class="panel">
</body>
</html>
<div class="w3-quarter">
<img src="../static/o.jpg" alt="Boss" style="width:70%" class="w3-border w3-padding">
<h3></h3>
<strong>Hiking Poles</strong></a>
<p>Get this couple hiking stick with this great deal in the market.</p> 
<h5 style="text-align: center"><strong>$22</strong></h5>
</div>
<div class="w3-quarter">
<img src="../static/n.jpg" alt="Boss" style="width:75%" class="w3-border w3-padding">
<h3></h3>
<strong>Cooking Pot</strong></a>
<p>Felt like cooking in the wild? This cooking pot set would make it easy and grease free.</p> 
<h5 style="text-align: center"><strong>$20</strong></h5>
</div>
<div class="w3-quarter">
  <img src="../static/p.jpg" alt="Boss" style="width:70%" class="w3-border w3-padding">
  <h3></h3>
  <strong>Hammock</strong></a>
  <p>Need some sleep ? This hammok will make it comfortable even in the wild. Relax and lay back.</p> 
  <h5 style="text-align: center"><strong>$15.99</strong></h5>
  </div>
  <div class="w3-quarter">
    <img src="../static/gf.jpg" alt="Boss" style="width:70%" class="w3-border w3-padding">
    <h3></h3>
    <strong>Combact Torch Light</strong></a>
    <p>Never let the dark stop you with this powerful torch get this in a deal to explore at dark.</p> 
    <h5 style="text-align: center"><strong>$19.99</strong></h5>
    </div>
</div>

<button class="accordion">Shop by essentials</button>
<div class="panel">
</body>
</html>
<div class="w3-quarter">
<img src="../static/pb.jpg" alt="Boss" style="width:70%" class="w3-border w3-padding">
<h3></h3>
<strong>Solar Powerbank</strong></a>
<p>Never get out of power even in the wilderness. Get this solar power bank and stay charged always.</p> 
<h5 style="text-align: center"><strong>$29.99</strong></h5>
</div>
<div class="w3-quarter">
<img src="../static/hybag.jpg" alt="Boss" style="width:75%" class="w3-border w3-padding">
<h3></h3>
<strong>Hydrating Backpack</strong>
<p>Stay hydrated stay energized with this hydrating backpack never get out of water.</p> 
<h5 style="text-align: center"><strong>$39.99</strong></h5>
</div>
<div class="w3-quarter">
  <img src="../static/shoe.jpg" alt="Boss" style="width:70%" class="w3-border w3-padding">
  <h3></h3>
  <strong>Hiking Shoes</strong></a>
  <p>Hiking is quite difficult with slippers. Stay out of peebles, rocks, throns stay strong with our shoes.</p> 
  <h5 style="text-align: center"><strong>$99</strong></h5>
  </div>
  <div class="w3-quarter">
    <img src="../static/psun.jpg" alt="Boss" style="width:70%" class="w3-border w3-padding">
    <h3></h3>
    <strong>Sunglasses</strong></a>
    <p>It is most to have protection especially to your eyes. This sunglasses is polarized and have more UV protection than other normal ones.</p> 
    <h5 style="text-align: center"><strong>$154</strong></h5>
    </div>
</div>


<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight) {
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  });
}
</script>


</br>
</br>



<br>

</pre> 
<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  font-family: Arial;
  margin: 0;
}

* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
</style>
<body>

<h2 style="text-align:center">Our Popular Product</h2>

<div class="container">
  <div class="mySlides">
    <div class="numbertext">1 / 6</div>
    <img src="../static/sgk.jpg" style="width:50%">
  </div>

  <div class="mySlides">
    <div class="numbertext">2 / 6</div>
    <img src="../static/bag.jpg" style="width:50%">
  </div>

  <div class="mySlides">
    <div class="numbertext">3 / 6</div>
    <img src="../static/shoe.jpg" style="width:50%">
  </div>
    
  <div class="mySlides">
    <div class="numbertext">4 / 6</div>
    <img src="../static/hybag.jpg" style="width:50%">
  </div>

  <div class="mySlides">
    <div class="numbertext">5 / 6</div>
    <img src="../static/o.jpg" style="width:50%">
  </div>
    
  <div class="mySlides">
    <div class="numbertext">6 / 6</div>
    <img src="../static/med.jpg" style="width:50%">
  </div>
    
  <a class="prev" onclick="plusSlides(-1)">❮</a>
  <a class="next" onclick="plusSlides(1)">❯</a>

  <div class="caption-container">
    <p id="caption"></p>
  </div>

  <div class="row">
    <div class="column">
      <img class="demo cursor" src="../static/sgk.jpg" style="width:80%" onclick="currentSlide(1)" alt="Survival Gear Kit">
    </div>
    <div class="column">
      <img class="demo cursor" src="../static/bag.jpg" style="width:80%" onclick="currentSlide(2)" alt="BackPack">
    </div>
    <div class="column">
      <img class="demo cursor" src="../static/shoe.jpg" style="width:80%" onclick="currentSlide(3)" alt="Hiking Shoes">
    </div>
    <div class="column">
      <img class="demo cursor" src="../static/hybag.jpg" style="width:80%" onclick="currentSlide(4)" alt="Hydrating Bag">
    </div>
    <div class="column">
      <img class="demo cursor" src="../static/o.jpg" style="width:80%" onclick="currentSlide(5)" alt="Hiking Poles">
    </div>    
    <div class="column">
      <img class="demo cursor" src="../static/med.jpg" style="width:80%" onclick="currentSlide(6)" alt="Medical Kits">
    </div>
  </div>
</div>

<script>
let slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  let dots = document.getElementsByClassName("demo");
  let captionText = document.getElementById("caption");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  captionText.innerHTML = dots[slideIndex-1].alt;
}
</script>
    
</body>
</html>


  




<div class="w3-container w3-padding-64 w3-center" id="team">
  <!-- Header -->
      <header class="w3-container w3-center w3-padding-64 w3-light-green">
        <h1 class="w3-jumbo">
          <b>Interested on our products?</b>
        </h1>
        <h1 class="w3-xlarge">
          <b>Fill in the form below and we bring it to you! <span class="w3-tag"> </span></b>
        
   
  <div class="container">
    <form action="https://formspree.io/f/xdobywrr" method="POST" id="my-form">

      <div class="form-group">
        <label for="products">Choose our product:</label>

<select name="products" id="products">
  <option value="GearKit">Survival Gear Kit</option>
  <option value="saab">Saab</option>
  <option value="mercedes">Mercedes</option>
  <option value="audi">Audi</option>
</select>
        
        
      <div class="form-group">
        <label for="quantity">Quantity    </label>
        <input type="text" id="quantity" name="quantity">
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email">
      </div>
      
      <div class="form-group">
        <label for="address">Full Address</label>
        <input type="address" id="address" name="address">
      </div>

      <div class="form-group">
        <label for="massage">Delivery Instructions</label>
        <textarea name="massage" id="massage" cols="30" rows="10"></textarea>
      </div>

      <button type="submit">Submit</button>
    </form>
  
</body>
</html>